* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins';
    background: url(bg.png) no-repeat center;
    background-size: cover;
    z-index: 0;
    overflow-x: hidden;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 18px 25px 18px 25px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    display: block;
    gap: 10px;
}

.brand {
    display: flex;
    align-items: flex-start; 
    white-space: wrap;
    padding: 6px 6px;
    flex-direction: column;
    gap: 0.2rem;
}

.nav {
    background: linear-gradient(180deg,#73bbfe 0%, #6ebeff 0%);
    border-radius: 12px;
    position: fixed;
    right: 15px;
    display: flex;
    gap: 15px;
    padding: 6px;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
    z-index: 100;
    scroll-behavior: smooth;
}

.nav a {
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.nav a.cta {
    color: #fff;
}

.nav a:hover:not(.cta) {
    color: #ff7a59  ;
    transition: 0.3s;
}

.cta {
    background: linear-gradient(135deg, #ff7a59, #ff9966);
    color: white;
    padding: 8px 18px;
    border-radius: 12px;
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 6px rgba(255, 122, 89, 0.3);
}

.cta:hover{
    background: rgb(160, 160, 160);
    box-shadow: 0 4px 10px #73bbfe;
    transform: translateY(-2px);
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(180deg,#9fd1ff 0%, #dcefff 40%);
    width: 1000px;
    align-items: center;
    border-radius: 20px;
    padding: 27px;
    margin: 20px auto;
}

.home-contain {
    gap: 30px;
    align-items: center;
}

.home-contain h1 {
    font-size: 28px;
    color:#06304d; 
    margin: 15px 20px 20px 25px;
}

.home-contain p {
    color: #06304d;
    margin: 20px 30px 20px 25px;
    font-size: 14px;
}

.home-contain a {
    display: flex;
    background: linear-gradient(100deg,#519545,#7FC960) ;
    text-decoration: none;
    border-radius: 12px;
    padding: 6px 16px;
    color: white;
    font-weight: 600;
    margin: 28px 10px 0 25px; 
    width: 108px;
    align-items: center;
}

.home-contain a:hover{
    background: rgb(160, 160, 160);
    box-shadow: 0 4px 10px #73bbfe;
    transform: translateY(-2px);
}

.home img {
    object-fit:cover;
    height:320px;  
    align-items: center;
}

/* timeline section */

/* .timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 30px;
    margin: 30px auto;
} */

.timeline{
    width: 102.2%;
    margin-left: -20px;
    padding-top: 40px;
}

/* .topic {
    display: flex;
    align-items: center;
    background: linear-gradient(120deg, #ff7a59, #ff9966);
    color: white;
    flex: 0 0 280px;
    border-radius: 12px;
    padding: 20px 32px;
    max-width: 350px;
    min-width: 240px;
    max-height: 40px;
} */

/* .topic:hover {
    box-shadow: 0 4px 10px #ff9378;
    transform: translateY(-5px);
    transition: all 0.3s ease;
} */

/* .bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-weight: 700;
    font-size: 20px;
    width: 48px;
    height: 48px;
    border-radius: 100px;
    background:linear-gradient(180deg,#ffaa79,#ffa67a);
    margin-right: 14px; 
} */

.iklim {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 1050px;
    align-items: stretch;
    justify-content: center;
    margin: 30px auto;
}

.card {
    display: flex;
    flex-direction: row-reverse;
    background: linear-gradient(180deg,#9fd1ff 0%, #dcefff 40%);
    box-shadow: 0 8px 30px rgba(20,45,80,0.06);
    border-radius: 16px;
    max-height: 150px;
    flex: 1 1 300px;
    padding: 20px;
    align-items: center;
}

.card:hover {
    box-shadow: 0 4px 10px rgba(89, 95, 255, 0.4);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.card img {
    height: 130px;
    flex-shrink: 0;
    object-fit: contain;
}

.card-contain {
    display: flex;
    flex-direction: column;
    color: #06304d;
}

.card-contain h3 {
    margin: 0 0 6px 0;
}

.card-contain p {
    font-size: 14px;
    line-height: 1.5;
}

.headline {
    display: flex;
}

.headline img {
    width: auto;
    height: 40px;
    margin: 30px 0px 0px 95px;
}

.headline h1 {
    font-size: 20px;
    padding-left: 20px;
    margin-top: 35px;
    color: #06304d;
}

.hl {
    display: flex;
    flex-direction: row;
    margin: 40px 70px 20px 180px;
    gap: 120px;
}

.card-flip {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg,#F7CA68 0%, #E48C6B 40%);
    color: white;
    border-radius: 12px;
    width: 220px;
    align-items: center;
}

.card-flip:hover {
    box-shadow: 0 2px 5px #fd653f;
    transform: scale(1.2);
    transition: all 0.3s ease;
}

.card-flip h1 {
    font-size: 20px;
    font-weight: 20px;
    margin: 0px auto;
}

.card-flip h3 {
    font-size: 14px;
    margin-top: 3px;
}

.card-flip img {
    height: 180px;
    width: auto;
    margin: 20px auto;
}

.vl {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vl img:hover {
    transform: translateY(-20px);
    transition: all 0.3s ease;
}

.hl2 {
    display: flex;
    flex-direction: row;
    margin: 20px 30px 20px 200px;
    gap: 350px;
}

.hl3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vl2 {
    margin-left: 150px;
    width: 367px;
    
}

.vl3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vl3 img {
    height: 120px;
    width: auto;
}

.vl3 img:hover {
    transform: translateY(-10px);
    transition: all 0.3s ease;
}

.tab img {
    height: 700px;
    width: auto;
    margin-left: 50px;
}

.yt-layout {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
    margin-right: 70px;
}

.yt-contain {
    display: flex;
    flex-direction: column;
    margin-left: 154px;
    width: 300px;
}

.yt-contain h3 {
    background: #E48C6B;
    color: white;
    padding: 8px 10px;
    border-radius: 12px;
    width: 100px;
    font-size: 16px;
    text-align: center;
}

.yt-contain h3:hover{
    background: rgb(160, 160, 160);
    box-shadow: 0 4px 10px #73bbfe;
    transform: translateY(-2px);
}

.hl4 {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tentang {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tentang img {
    width: 600px;
    margin-left: 100px;
}

.tag {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 70px;
}

.tag h1 {
    color: #E48C6B;
}

.tag h5 {
    text-align: end;
    color: #06304d;
    width: 500px;
    font-size: 14px;
    margin-right: 100px;
}

.boxref {
    background: rgb(226, 226, 226);
    border-radius: 30px;
    width: 1000px;
    height: 215px;
    margin-left: 155px;
    padding: 15px 30px;
}

.boxref h3 {
    background: #E48C6B;
    color: white;
    padding: 8px 10px;
    border-radius: 12px;
    width: 100px;
    font-size: 16px;
    text-align: center;
    margin-top: 150px;
    float: right;
}

.boxref h3:hover{
    background: rgb(160, 160, 160);
    box-shadow: 0 4px 10px #73bbfe;
    transform: translateY(-2px);
}

footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 50px 50px 0 0;
    background: linear-gradient(180deg,#F7CA68 0%, #E48C6B 40%);
    margin-top: 50px;
}

.foot-left {
    display: flex;
    flex-direction: column;
    margin: 30px 120px 50px 60px;
}

.foot-left p {
    font-size: 14px;
    color: white;
    width: 550px;
}

.brand-foot {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    color: white;
}

.brand-foot img {
    height: 60px;
    width: auto;
}

.boxmail {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: whitesmoke;
    border-radius: 30px;
    height: 40px;
    width: 400px;
    gap: 190px;
    padding: 3px;
    margin-top: 20px;
}

.boxmail h6 {
    font-size: 12px;
    margin-left: 20px;
    opacity: 50%;
}

.boxmail h5 {
    background: linear-gradient(180deg,#F7CA68 0%, #E48C6B 40%);
    border-radius: 12px;
    padding: 5px;
    font-size: 13px;
    color: white;
}

.boxmail h5:hover{
    background: rgb(160, 160, 160);
    box-shadow: 0 4px 10px #73bbfe;
    transform: translateY(-2px);
}

.foot-right {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.foot-right h1 {
    font-size: 14px;
    color: white;
    margin-top: 40px;
}

.foot-right p {
    color: white;
    width: 450px;
    font-size: 14px;
}

.foot-right span {
    color: white;
    width: 450px;
    font-size: 14px;
    margin-top: 90px;
    text-align: right;
}

.contact {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.contact img {
    height: 47px;
    width: auto;
}